.advantage
	display block
	width 100%
	background-color #f3f0e7
	&__wrapper
		width 1080px
		margin 0 auto
		padding 60px 0
	&__title
		font-size 60px
		font-weight 100
		font-variant small-caps
		text-align center
	&__container
		margin-top 60px
		display flex
		justify-content space-between
	&__item
		width 270px
	&__box
		overflow hidden
		border-radius 50%
		height 270px
		width 270px
		display flex
		justify-content center
		align-content center
	&__block
		margin-top 25px
	&__name
		font-size 24px
		font-weight 300
		width 100%
		line-height 30px
		text-align center
	&__desc
		text-align center
		margin-top 25px
		font-size 16px
		font-weight 300
		line-height 25px
	&__make
		background-color #e11a27
		border-radius 10px
		font-size 19px
		font-weight 100
		text-transform uppercase
		padding 25px 36px
		-webkit-appearance none
		-moz-appearance none
		border 1px solid transparent
		color #fff
		display block
		margin 60px auto 0
		&:hover
			border 1px solid #e11a27
			color #e11a27
			background-color #fff
