mixin advantage()
	section.advantage&attributes(attributes)
		.advantage__wrapper
			h1.advantage__title Advantage
			.advantage__container
				.advantage__item
					.advantage__box
						img(src="img/social.png" alt="social")
					.advantage__block
						p.advantage__name Import photos from your social networks
						p.advantage__desc.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt modi tempora.
				.advantage__item
					.advantage__box
						img(src="img/photo-edit.png" alt="photo-edit")
					.advantage__block
						p.advantage__name Import photos from your social networks
						p.advantage__desc.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt modi tempora.
				.advantage__item
					.advantage__box
						img(src="img/templates.png" alt="templates")
					.advantage__block
						p.advantage__name Import photos from your social networks
						p.advantage__desc.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt modi tempora.
			button.advantage__make make your photobook
