.hero
	padding-top 80px
	display block
	background url("../../img/hero_bg.png") no-repeat
	background-size cover
	height 547px
	&__container
		padding-top 55px
	&__title
		color black
		font-size 60px
		font-weight 100
		font-variant small-caps
		text-align center
	&__subtitle
		color black
		font-size 24px
		font-weight 300
		text-align center
		margin-top 25px
	&__make
		border 1px solid #010101
		border-radius 10px
		-webkit-appearance none
		-moz-appearance none
		appearance none
		font-size 19px
		font-weight 100
		text-transform uppercase
		background-color transparent
		padding 25px 36px
		display block
		margin 70px auto
		&:hover
			border 1px solid #ffd200
			color #ffd200