mixin hero()
	section.hero&attributes(attributes)
		.hero__wrapper
			.hero__container
				h1.hero__title Create your own photostory
				h3.hero__subtitle Make your photobook online
				button.hero__make make your photobook
