mixin additional()
	section.additional&attributes(attributes)
		.additional__wrapper
			.additional__container
				.additional__item
					h2.additional__name Terms
					.additional__box
						.additional__info
							p.additional__desc.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
							p.additional__desc.
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
				.additional__item
					h2.additional__name Payment
					.additional__box
						.additional__info
							p.additional__desc.
								Payment methods:
							ul.additional__list
								li.additional__elem VISA
								li.additional__elem MasterCard
								li.additional__elem PayPal
								li.additional__elem American Express
				.additional__item
					h2.additional__name Shipping
					.additional__box
						.additional__info
							p.additional__desc.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							p.additional__desc.p.additional__desc_red.
								Free shipping for PremiumBook
			button.additional__make make your photobook

