mixin solutions()
	section.solutions&attributes(attributes)
		.solutions__wrapper
			h1.solutions__title Ready solutions
			.solutions__block
				.solutions__item
					h3.solutions__name LightBook
					.solutions__box
						ul.solutions__checklist
							li.solutions__elem 15×10 cm
							li.solutions__elem 12 pages
							li.solutions__elem binding on the clip
						p.solutions__price $129
					button.solutions__make Make your LightBook
				.solutions__item
					h3.solutions__name ClassicBook
					.solutions__box
						ul.solutions__checklist
							li.solutions__elem 30×21 cm
							li.solutions__elem 36 pages
							li.solutions__elem binding on the clip
							li.solutions__elem fabric cover
						p.solutions__price $239
					button.solutions__make Make your ClassicBook
				.solutions__item
					h3.solutions__name PremiumBook
					.solutions__box
						ul.solutions__checklist
							li.solutions__elem 42×50 cm
							li.solutions__elem 50 pages
							li.solutions__elem hardcover
							li.solutions__elem leather cover
							li.solutions__elem free shipping
						p.solutions__price $759
					button.solutions__make Make your PremiumBook
