mixin header()
	section.header&attributes(attributes)
		.header__wrapper
			.header__pic
				img(src="img/logo.svg" alt="logo").header__logo
			.header__block
				p.header__contact +11 235 813 2134
				button.header__login
