mixin service()
	section.service&attributes(attributes)
		.service__wrapper
			.service__item
				.service__box
					img.service__logo(src="img/download.png" alt="download")
				p.service__desc Download photos
			.service__item
				.service__box
					img.service__logo(src="img/design.png" alt="design")
				p.service__desc Design your photobook
			.service__item
				.service__box
					img.service__logo(src="img/pay.png" alt="pay")
				p.service__desc Pay for service
			.service__item
				.service__box.service__box_last
					img.service__logo(src="img/get.png" alt="get")
				p.service__desc Get your photobook
