mixin footer()
	section.footer&attributes(attributes)
		.footer__wrapper
			.footer__container
				ul.footer__menu
					li.footer__elem
						a(href="#").footer__link About us
					li.footer__elem
						a(href="#").footer__link Careers
					li.footer__elem
						a(href="#").footer__link Help
					li.footer__elem
						a(href="#").footer__link Press
				ul.footer__menu
					li.footer__elem
						a(href="#").footer__link Terms
					li.footer__elem
						a(href="#").footer__link Payment
					li.footer__elem
						a(href="#").footer__link Shipping
					li.footer__elem
						a(href="#").footer__link Contact
				ul.footer__menu
					li.footer__elem
						a(href="#").footer__link LightBook
					li.footer__elem
						a(href="#").footer__link ClassicBook
					li.footer__elem
						a(href="#").footer__link PremiumBook
				.footer__info
					.footer__social
						a(href="https://facebook.com")
							img(src="img/facebook.png" alt="facebook").footer__icon
						a(href="https://facebook.com")
							img(src="img/vk.png" alt="vk").footer__icon
						a(href="https://facebook.com")
							img(src="img/instagram.png" alt="instagram").footer__icon
					img(src="img/author.png" alt="author").footer__author
			p.footer__copyrights © 2015 Photobook. All rights reserved

